@model SubMenuTransacciones

@{
    ViewData["Title"] = "Reporte excel";
    var hoy = DateTime.Today;
    var haceUnMes = hoy.AddMonths(-1);
    var mesActual = hoy.Month;
    var añoActual = hoy.Year;
    var mesAnterior = haceUnMes.Month;
    var añoAnterior = haceUnMes.Year;
}

<partial name="_SubMenu" Model="SubMenuTransacciones.ExcelReporte"/>

<h1>
    Exportar transacciones a formato EXCEL
</h1>

<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesActual"
    asp-route-año="@añoActual" class="btn btn-success"
    >
        Exportar mes actual
        • @hoy.ToString("MMMM yyy")
    </a>
</div>

<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesAnterior"
       asp-route-año="@añoAnterior" class="btn btn-success">
        Exportar mes anterior
        • @haceUnMes.ToString("MM yyy")
    </a>
</div>
    
<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@añoActual"
       asp-route-año="@añoActual" class="btn btn-success">
        Exportar año actual
        • @hoy.ToString("MM yyy")
    </a>
</div>

<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@añoActual"
       asp-route-año="@añoActual" class="btn btn-success">
        Exportar año anterior
        • @hoy.ToString("MM yyy")
    </a>
</div>

<div class="mb-3">
    <a asp-action="ExportarExcelPorMes" asp-route-mes="@añoActual"
       asp-route-año="@añoActual" class="btn btn-success">
        Exportar todo
    </a>
</div>